Artist1.dtd

<!DOCTYPE Artist [
    <!ELEMENT Artist (Entertainer, genre, tourName)>
    <!ELEMENT Entertainer (entertainer_id, name, eventsList)>
    <!ELEMENT entertainer_id (#PCDATA)>
    <!ELEMENT name (#PCDATA)>
    <!ELEMENT eventsList (event*)>
    <!ELEMENT event (#PCDATA)>
    <!ELEMENT genre (#PCDATA)>
    <!ELEMENT tourName (#PCDATA)>
]>
