Customers.dtd

<!DOCTYPE Customers [
    <!ELEMENT Customers (Customer+)>
    <!ELEMENT Customer (User, email, tickets)>
    <!ELEMENT User (userId, username, password)>
    <!ATTLIST User
          userID ID #REQUIRED>
    <!ELEMENT username (#PCDATA)>
    <!ELEMENT password (#PCDATA)>
    <!ELEMENT email (#PCDATA)>
    <!ELEMENT tickets (ticket+)>
    <!ELEMENT ticket (ticketID)>
    <!ATTLIST ticket
          ticketID ID #REQUIRED>
]>
