Events.dtd

<!ELEMENT Events (Event+)>
<!ELEMENT Event (event_ID,venue,date,entertainer,tickets_available)>
<!ATTLIST Event
          event_ID ID #REQUIRED>
<!ELEMENT venue (venue)>
<!ATTLIST venue
          venue.id ID #REQUIRED>
<!ELEMENT date (#PCDATA)>
<!ELEMENT entertainer (entertainer)>
<!ATTLIST entertainer
          entertainer_id ID #REQUIRED>
<!ELEMENT tickets_available (#PCDATA)>